*.sw?
.DS_Store
coverage
rdoc
pkg
vendor/gems-src/libxml-bindings
vendor/gems-src/sinatra
vendor/plugins/acts_as_quickbooks_model
vendor/gems-src/geokit
vendor/plugins/geokit-rails
vendor/plugins/dependencies
vendor/plugins/quickbooks_integration_plugin
vendor/plugins/generates_uuid
vendor/gems-src/uuidtools
vendor/plugins/rails-dev-boost
